.PlayerStat {
  border-radius: 2px;
  background-color: lightgray;
  height: 24px;
  width: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* TODO: Use better PES colors here. */
.PlayerStat.max {
  background-color: rgb(0, 255, 229);
}

.PlayerStat.very-strong {
  background-color: rgb(0, 238, 171);
}

.PlayerStat.strong {
  background-color: rgb(162, 255, 0);
}

.PlayerStat.average {
  background-color: rgb(255, 234, 0);
}

.PlayerStat.weak {
  background-color: rgb(255, 140, 0);
}

.PlayerStat.very-weak {
  background-color: rgb(255, 0, 0);
}

