.PlayerPositionChart .PlayerStat {
  border-radius: 0;
  display: flex;
}

.PlayerPositionChart .lwf .PlayerStat,
.PlayerPositionChart .rwf .PlayerStat,
.PlayerPositionChart .lmf .PlayerStat,
.PlayerPositionChart .rmf .PlayerStat,
.PlayerPositionChart .lb .PlayerStat,
.PlayerPositionChart .rb .PlayerStat {
  height: 54px;
  width: 32px;
}
.PlayerPositionChart .cf .PlayerStat,
.PlayerPositionChart .ss .PlayerStat,
.PlayerPositionChart .amf .PlayerStat,
.PlayerPositionChart .cmf .PlayerStat,
.PlayerPositionChart .dmf .PlayerStat,
.PlayerPositionChart .cb .PlayerStat,
.PlayerPositionChart .gk .PlayerStat {
  width: 68px;
  height: 24px;
}

.PlayerPositionChart .amf .PlayerStat,
.PlayerPositionChart .cmf .PlayerStat,
.PlayerPositionChart .dmf .PlayerStat {
  height: 16px;
}
