.App-container {
  margin: 0 auto;
  padding: 80px 24px 0 24px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

.App .flex {
  flex: 1;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.layout-column {
  display: flex;
  flex-direction: column;
}

.App a:link,
.App a:visited {
  color: #03a9f4;
  text-decoration: none;
}

.App a:hover {
  text-decoration: underline;
}

.App-container .canvas-controls.center {
  text-align: center;
}

.App-container .canvas-controls {
  padding: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.App-container .canvas-controls a:link,
.App-container .canvas-controls a:visited {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: underline;
}

.App-container .canvas-controls a:hover {
  color: rgba(0, 0, 0, 0.87);
}
